.blog_article{
    display: flex;
    flex-direction: column;
    padding: 46px 258px;
    gap: 35px;
}

.blog_article_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    .blog_author_block{
        display: flex;;
        flex-direction: row;
        gap: 10px;
        img{
            width: 35px;
            height: 35px;
            object-fit: cover;
            border-radius: 35px;
        }
        .blog_author{
            display: flex;
            flex-direction: column;
            h5, p{
                margin: 0px;
            }
        }
    }
}