:root{
    --disclamer-background: #FAFAFA;
}

.blog_article{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 46px 258px;
    @media (max-width: 768px) {
        padding: 46px 50px;
    }   

@media (max-width: 480px) {
    html {
        font-size: 12px;
    }
}
    gap: 35px;
}

.blog_article_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 20px;
    @media (max-width: 932px) {
        flex-direction: column;
    }
    .blog_author_block{
        display: flex;
        flex-direction: row;
        gap: 10px;
        img{
            width: 35px;
            height: 35px;
            object-fit: cover;
            border-radius: 35px;
        }
        .blog_author{
            display: flex;
            flex-direction: column;
            h5, p{
                margin: 0px;
            }
        }
    }
}
.blog_callout{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    .callout_cards_container{
        display: grid;
        grid-template-areas: 
        "first second"
        "first second"
        "first third";
        gap: 15px;
        .callout_card{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 8px;
        }
        .first_callout{
            grid-area: first;
        }
        .second_callout{
            grid-area: second;
        }
        .third_callout{
            grid-area: third;
        }
    }
    .blog_callout_copyrighting{
        display: flex;
        flex-direction: column;
        padding: 36px 0px 36px 34px;
        @media (max-width: 768px) {
            padding: 36px 6px ;
        }
        gap: 30px;
        .quotes_container{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 17px;
        }
    }
}
.higlights_container{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap:15px;
}

.highlights_cards_container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    width: 100%;
    gap: 27px;
    .highlight_card{
        width: 100%;
        gap: 12px;
        display: flex;
        flex-direction: column;
        font-weight: 400;
        img{
            width: 100%;
            aspect-ratio: 3/4;
            object-fit: cover;
            border-radius: 8px;
        }
    }
}

