:root{
    --base-text-size: 1rem;
    --menu-text-size: 0.875rem;
    --hero-big-text-size: 4rem;
    --hero-small-text-size: 1.2rem;
    --big-headers-text-size: 2.16rem;
    --discovery-card-header-size: 1.33rem;
    --discovery-card-discover-size: 0.875rem;
    --primary-color: #8A53FF;
    --secondary-color: #42277e;
    --text-color: #434343;
    --accent-text-color: #000000;
}

@font-face {
    font-family: RobotoBold;
    src: url("../Assets/Fonts/Roboto-Bold.ttf");
}

@font-face {
    font-family: Roboto;
    src: url("../Assets/Fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: ChangaOne;
    src: url("../Assets/Fonts/ChangaOne-Regular.ttf");
}

html{
    font-size: 18px;
    color: var(--text-color)
}

a{
    text-decoration: none;
}

body{
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

img{
    border-radius: 8px;
}

*{
    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: var(--base-text-size);
    letter-spacing: 0%;
}

.main_menu{
    font-size: var(--menu-text-size);
    nav {
        li a:hover{
            color:var(--dark-violet-color);
        }
        li[data-current-page="true"]{
            color: var(--primary-color);
        }
    }
}

.content_container{
    p{
        color: var(--accent-text-color);
        font-size: var(--hero-small-text-size);
    }
}

.block_header{
    display: flex;
    flex-direction: column;
    text-align: center;
    h3{
        font-family: RobotoBold;
        font-weight: 700;
        color: var(--primary-color);
        margin: 0px;
        text-transform: uppercase;
        letter-spacing: 6%;
    }
    h2{
        font-family: ChangaOne;
        font-size: var(--big-headers-text-size);
        margin: 0px;
        line-height: 40px;
    }
}

.information_container{
    .block_header{
        text-align: left;        
    }
    p{
        line-height: 33px;
        margin: 0px;
    }
}

.recent_story{
    .block_header{
        gap: 16px;
    }
}

.hero .content_container{
    h1, h1 span {
        font-family: ChangaOne;
        font-size: var(--hero-big-text-size);
        span{
            color:var(--primary-color);
        }
    }
    p{
        font-size: var(--hero-small-text-size);
    }
}

.discover_card{
    text-align: center;
    h4{
        font-family: ChangaOne;
        font-size: var(--discovery-card-header-size);
        line-height: 36px;
        font-weight: 400;
        margin: 0px;
    }
    p{
        font-family: Roboto;
        font-size: var(--discovery-card-discover-size);
        color: var(var(--primary-color));
        margin: 0px;
    }
}