:root{
    --base-text-size: 1rem;
    --menu-text-size: 0.875rem;
}

html{
    font-size: 18px;
}

*{
    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: var(--base-text-size);
}

.main_menu{
    font-size: var(--menu-text-size)
}